* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-image: url(img/wooden-floor-1853417_1280.jpg); */
    background-color: #2e2e2e;
    color: #d3d3d3;
    background-size: cover;
}

.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
  height: 500px;
  max-width: 900px;
  transition: all 1s ease;
  margin: 10px;
}

.information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #ffa722; /* Золотий колір з прозорістю 50% */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 0px;
	transition: background-color 0.3s, transform 0.3s; /* Efecto de transición */
}


.info-childs {
  width: 100%;
  padding: 0 30px;
}

.info-childs h2 {
  font-size: 2.5rem;
  color: #fff;
}

.info-childs p {
  margin: 15px 0 ;
  color: #fff;
	font-weight: 600;
}

.info-childs input {
  background-color: transparent;
  outline: none;
  border: solid 2px #fff;
  border-radius: 20px;
  padding: 10px 20px;
	font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s ease;
}

.info-childs input:hover {
  background-color: #000000;
  border: none;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: transparent; /* Fondo oscuro elegante */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);     
  
}


.form-information-childs {
  padding: 0 30px;
}

.form-information-childs h2 {
  color: #fff;
  font-size: 2rem;
}

.form-information-childs p {
  color: #fff;
}

.icons {
  margin: 15px 0;
}

.icons i {
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  color: #1e90ff;
  border: solid thin #1e90ff;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.icons i:hover {
  box-shadow: 0 2px 5px  #ff4500;
  /* background-color: #333; */
  color:  #ff4500;
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form label input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #333;
}

.form label i {
  color: #a7a7a7;
}

.form input[type="submit"] {
  background-color:  #fff;
  color: #000;
	font-weight: 600;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form input[type="submit"]:hover {
  background-color:  #1e90ff;
  color: #fff;
}

.hide {
  position: absolute;
  transform: translateY(-300%);
}

/*PERSONALIZACION DE MIS ALERTAS Y MENSAJES */
.form div .alerta {
  width: 290px;
  text-align: left;
  border-radius: 7px;
  margin-bottom: 10px;
  font-size: .8rem;
}

.form > .alerta-error,
.form > .alerta-exito {
  display: none;
  margin-top: 20px;
  color: red;
}

.form .alertaError {
  display: block;
  background-color: #F66060;
  padding: .5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: .8rem;
}

.form .alertaExito {
  display: block;
  background-color: #0ca828;
  padding: .5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: .8rem;
}

.form .error {
  outline: solid 2px #9d2222;
}

/*RESPONSIVE FORM*/

@media screen and (max-width:750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width:580px) {
  html {
    font-size: 15px;
  }

  .container-form {
    height: auto;
    flex-direction: column;
  }

  .information {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
		background-color: rgba(255, 215, 0, 0.3);
  }

  .info-childs {
    padding: 0 5px;
  }

  .info-childs h2 {
    font-size: 1.5rem;
  }

  .form-information {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }

  .form-information-childs {
    padding: 0 20px;
  }

  .form-information-childs h2 {
    font-size: 1.5rem;
  }

  .icons i {
    padding: 13px;
  }
}


/* DESHBOARD */
